<%# Ensure current_user is passed as a local variable if not available in view context %>
<% current_user = current_user if defined?(current_user) %>

<div id="message_<%= message.id %>" class="message <%= message.system_message ? 'system-message' : (message.user == current_user ? 'message-right' : 'message-left') %>">
  <div class="message-bubble">
    <% if !message.system_message %>
      <%= message.content %>
      <div class="message-footer">
        <%= message.user.username %> • <%= time_ago_in_words(message.created_at) %> ago
      </div>
    <% else %>
      <%= message.content %>
    <% end %>
  </div>
</div>
