
<div class="note">



  <div class="new-note">
  <%= render 'notes/form_note', note: @note %>
  </div>

  <div class="all-notes">
  <% if @notes.present? %>

    <% @notes.each do |note| %>
      <div class="card">
        <div class="card-body">
          <h1 class="card-title"><%= note.title %></h1>
          <p class="card-text"><%= note.content %></p>
          <small class="text-muted">Created by: <%= note.user.username %></small>
                  <% if note.project.user == current_user %>
          <%= link_to 'Edit', edit_project_note_path(note.project, note), class: 'btn btn-warning' %>
          <%= link_to 'Delete', project_note_path(note.project, note),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: 'btn btn-danger' %>
        <% end %>
        </div>
   

    <% end %>
  <% else %>
      <p>Pas de notes ...</p>
  <% end %>
  </div>
</div>
</div>
