<div class="note-form">
  <%= form_with(model: [@project, @note], local: true, data: { turbo: false }) do |f| %>
    <div class="form-group">
      <%= f.label :title, class: 'form-label-red' %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :content , class: 'form-label-red' %>
      <%= f.text_area :content, class: 'form-control', rows: 5 %>
    </div>

    <div class="form-group">
      <%= f.submit class: 'btn-edit-p' %>
    </div>
  <% end %>
</div>
