<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title"><%= @note.title %></h1>
      <p class="card-text"><%= @note.content %></p>
      <small class="text-muted">Created by: <%= @note.user.username %></small>
    </div>
  </div>

  <div class="mt-3">
    <%= link_to 'Back', project_notes_path(@note.project), class: 'btn btn-secondary' %>
    <% if @note.project.user == current_user %>
      <%= link_to 'Edit', edit_project_note_path(@note.project, @note), class: 'btn btn-warning' %>
      <%= link_to 'Delete', project_note_path(@note.project, @note),
          method: :delete,
          data: { confirm: 'Are you sure?' },
          class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>
