<h1>New Conversation</h1>

<%= form_with(model: @conversation, url: conversations_path, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :name, "Conversation Name" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <!-- Dropdown for Projects -->
  <div class="form-group mt-3">
    <%= f.label :project_id, "Link to a Project (optional)" %>
    <%= f.select :project_id,
                 options_for_select(current_user.projects.pluck(:name, :id), @conversation.project_id),
                 { include_blank: "No Project" },
                 class: "form-control" %>
  </div>

  <div class="form-group mt-3">
    <%= f.submit "Create Conversation", class: "btn btn-primary" %>
  </div>
  <br>
  <div class="mb-3">
    <%= link_to "Back to Conversations", conversations_path, class: "btn btn-secondary rounded" %>
  </div>
<% end %>
