<div class="desktop-only">
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light sidebar" style="width: 250px; height: 100vh;">
    <%= link_to "#", class: "navbar-brand mb-3 text-center" do %>
      <%= image_tag "https://img.over-blog.com/242x200/2/81/29/14/Carapuce_de_Sacha.png", class: "img-fluid" %>
    <% end %>
    
    <% if user_signed_in? %>
      <div class="mb-3 search-container" data-controller="search">
        <%= form_tag searches_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query, 
                           params[:query], 
                           class: "form-control form-control-sm me-2", 
                           placeholder: "Rechercher...",
                           data: {
                             search_target: "input",
                             action: "input->search#suggest focusout->search#hideSuggestions"
                           } %>
          <%= button_tag type: 'submit', class: "btn btn-sm btn-primary" do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
        <div class="suggestions-container" data-search-target="suggestions"></div>
      </div>
    <% end %>
    
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Dashboard", projects_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Projects", projects_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Conversations", conversations_path, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    
    <% if user_signed_in? %>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <% if current_user.avatar.attached? %>
            <%= cl_image_tag current_user.avatar.key, class: "avatar me-2", height: 40, width: 40, crop: :fill %>
          <% else %>
            <%= image_tag "https://ui-avatars.com/api/?name=#{current_user.username}&background=random", class: "avatar me-2" %>
          <% end %>
          <strong><%= current_user.username || "User" %></strong>
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><%= link_to "Edit", edit_user_registration_path, class: "dropdown-item" %></li>
          <li><%= link_to "Another action", "#", class: "dropdown-item" %></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
