<div class="sidebar-menu" data-controller="sidebar" data-sidebar-target="sidebar">
  <div class="logo-container">
    <%= link_to root_path do %>
      <%= image_tag "logo_createv1.png", class: "logo logo-expanded", alt: "Create Logo" %>
      <%= image_tag "logo_createv2.png", class: "logo logo-collapsed", alt: "Create Logo" %>
    <% end %>
  </div>

  <div class="menu-items">
    <%= link_to root_path, class: "menu-item", data: { menu: "home" } do %>
      <div class="icon-container">
        <%= inline_svg_tag "icons/home.svg", class: "icon" %>
      </div>
      <span class="menu-label">Home</span>
    <% end %>

      <%= link_to all_task_path , class: "menu-item", data: { menu: "create" } do %>
      <div class="icon-container">
        <%= inline_svg_tag "icons/task.svg", class: "icon" %>
      </div>
      <span class="menu-label">Task</span>
    <% end %>

    <%= link_to new_project_path , class: "menu-item", data: { menu: "create" } do %>
      <div class="icon-container">
        <%= inline_svg_tag "icons/create.svg", class: "icon" %>
      </div>
      <span class="menu-label">Create</span>
    <% end %>

    <%= link_to searches_path, class: "menu-item", data: { menu: "search" } do %>
      <div class="icon-container">
        <%= inline_svg_tag "icons/search.svg", class: "icon" %>
      </div>
      <span class="menu-label">Search</span>
    <% end %>

    <%= link_to conversations_path, class: "menu-item", data: { menu: "inbox" } do %>
      <div class="icon-container">
        <%= inline_svg_tag "icons/inbox.svg", class: "icon" %>
      </div>
      <span class="menu-label">Inbox</span>
    <% end %>
  </div>

  <div class="user-menu">
    <% if user_signed_in? %>
      <div class="dropdown">
        <div class="avatar-container" data-bs-toggle="dropdown" aria-expanded="false">
          <% if current_user.avatar.attached? %>
            <%= cl_image_tag current_user.avatar.key, class: "avatar", height: 40, width: 40, crop: :fill %>
          <% else %>
            <%= image_tag "https://ui-avatars.com/api/?name=#{current_user.username}&background=random", class: "avatar" %>
          <% end %>
        </div>
        <ul class="dropdown-menu" aria-labelledby="dropdownUser1">
          <%= link_to "New project", new_project_path, class: "dropdown-item" %>
          <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
          <li><hr class="dropdown-divider"></li>
          <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
        </ul>
      </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "btn btn-outline-light" %>
    <% end %>
  </div>
</div>
