<div class="container mt-4">
  <%= link_to project_path(@project), class: 'btn btn-secondary mb-3' do %>
    <i class="fas fa-arrow-left"></i> Back to Project
  <% end %>

  <h1>Documents for <%= @project.name %></h1>

  <%= link_to 'Upload New Document', new_project_document_path(@project), class: 'btn btn-primary mb-4' %>

  <% @folders.each do |folder| %>
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="mb-0">
          Folder: <%= folder || 'Root' %>
        </h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Uploaded by</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @documents.where(folder_name: folder).each do |document| %>
                <tr>
                  <td><%= document.name %></td>
                  <td><%= document.user.username %></td>
                  <td>
                    <%= link_to 'Download', download_project_document_path(@project, document), class: 'btn btn-sm btn-success' %>
                    <% if current_user == @project.user || (current_user == document.user) %>
                      <%= button_to 'Delete', 
                          project_document_path(@project, document), 
                          method: :delete,
                          form: { data: { turbo_confirm: 'Are you sure?' } },
                          class: 'btn btn-sm btn-danger' %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
