


<div class="projects-container">
  <div class="search-container">
    <div class="search-form mb-4">
      <%= form_tag searches_path, method: :get, class: "d-flex" do %>
        <div class="search-input-container">
          <%= text_field_tag :query, @query, class: "form-control search-input", placeholder: "Search..." %>
          <%= button_tag type: 'submit', class: "search-button" do %>
            <span class="search-icon-wrapper">
              <%= inline_svg_tag "icons/search.svg", class: "search-icon" %>
            </span>
            <span class="search-text">SEARCH !</span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

    <%# PROJECTS CREES %>

  <div class="projects-header">
    <h1>Projects created</h1>
    <%= link_to new_project_path, class: 'new-project-button', data: {turbo: false} do %>
      <span class="plus-icon-wrapper">+</span>
      <span class="new-project-text">NEW PROJECT</span>
    <% end %>
  </div>

  <div class="card-container">
    <% Array(@projects).each do |project| %>
      <%= link_to project_path(project.id), class: 'text-decoration-none' do %> <!-- Le lien englobe toute la carte -->
        <div class="card">
          <div class="card-image">
            <% if project.image.attached? %>
              <%= image_tag project.image, class: 'card-image', alt: "#{project.name} Image" %>
            <% else %>
              <%= image_tag "unavailable_image.jpg", class: 'card-image', alt: "No image available" %>
            <% end %>
          </div>
          <div class="card-content">
            <h2><%= project.name %></h2>
            <p><strong>Location:</strong> <%= project.location %></p>
            <p><strong>Start Date:</strong> <%= project.starting_date %></p>
            <p><strong>End Date:</strong> <%= project.end_date %></p>
          </div>
        </div>
      <% end %>  <!-- Fin du lien -->
    <% end %>
  </div>

  <div class="projects-header">
    <h1>Projects joined</h1>
  </div>
  <%# PROJECTS REJOINTS %>
  <div class="card-container"> <!-- Le lien englobe toute la carte -->
    <% Array(@projects_user).each do |project_user| %>
      <div class="card">
        <%= link_to project_path(project_user.project.id), class: 'text-decoration-none' do %>
        <div class="card-image">
          <% if project_user.project.image.attached? %>
            <%= image_tag project_user.project.image, class: 'card-image', alt: "#{project_user.project.name} Image" %>
          <% else %>
            <%= image_tag "unavailable_image.jpg", class: 'card-image', alt: "No image available" %>
          <% end %>
        </div>
        <% end %>

        <div class="card-content">
        <%= link_to project_path(project_user.project.id), class: 'text-decoration-none' do %>

          <h2><%= project_user.project.name %></h2>
          <p><strong>Location:</strong> <%= project_user.project.location %></p>
          <p><strong>Start Date:</strong> <%= project_user.project.starting_date %></p>
          <p><strong>End Date:</strong> <%= project_user.project.end_date %></p>
        <% end %>
          <% if project_user.status == "0" %>
            <div class="card-btn-status">
              <%= link_to "accept", accept_path(project_user.project), class: "btn btn-primary" %>
              <%= link_to "decline", decline_path(project_user.project), class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
  <% end %>
</div>

</div>
