

<h1><%= @project.name %></h1>

<% if @project.image.present? %>
  <%= image_tag @project.image %>
<% else %>
  <p>add image pls</p>
<% end %>
<%= link_to 'Edit Project', edit_project_path(@project) %>

<h2><%= @project.description %></h2>
<p>calendar</p>
<p>members</p>

<%= link_to "Task", project_tasks_path(@project) %>
<h2><%= @project.notes %></h2>
<p>document</p>
<h2>Place: <%= @project.location %></h2>
<h2>Statue : <%= @project.status %></h2>
<h2>Starting date: <%= @project.starting_date %></h2>
<h2>Creation: <%= @project.created_at %></h2>
<h2>Last update: <h2>Date: <%= @project.updated_at %></h2>



<p>message</p>
