<!DOCTYPE html>
<html>
  <head>
    <title>Create | Let's create !</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="d-flex">
      <%= render "shared/navbar" %> <!-- Optionnel si tu as un navbar -->
      <%= render "shared/flashes" %> <!-- Optionnel pour les messages flash -->

      <div class="content" style="flex-grow: 1; padding: 20px;">
        <%= yield %>
      </div>
      <!-- Bottom Menu (visible partout) -->
      <%= render "shared/bottom_menu" %>

      <!-- Project Menu (masqué par défaut) -->
      <div id="project-menu-wrapper" style="display: none;">
        <%= render "shared/project_menu" %>
      </div>
    </div>
  </body>
</html>
